<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dining Room List</title>

    <!--  Main CSS  -->
    <link rel="stylesheet" href="../../style/main.css">

    <!--  Tailwind CSS  -->
    <link rel="stylesheet" href="../style.css">

    <!--  Font Awesome  -->
    <link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' />

  </head>

  <body>

    <!--  header  -->
    <input type="checkbox" id="menu-control">

    <div class="header">
      <a href="/restaurants" class="logo">D. R. List</a>
      <label for="menu-control" class="menu-btn">
        <span>menu</span>
      </label>
      <span>
        {{#if isAuthenticated}}
          {{ user.name}}'s
        {{/if}}
      </span>
      <div class="nav">
        <a href="/restaurants">Home</a>
        {{#if isAuthenticated}}
          <a href="/users/logout">Logout</a>
        {{else}}
          <a href="/users/login">Login</a>
        {{/if}}
      </div>
    </div>
    <!--  header end  -->

    {{{ body }}}

  </body>

</html>
