@import "color";

.create {
  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0 auto;

    a{
      width: 100%;
      max-width: 300px;
      height: 50px;
      border-radius: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
      color: $light-color;
      background-color: $dark-color;
      transition: color .5s;
      letter-spacing: 1px;

      &:hover {
        color: $primary-color;
      }

    }
  }
}

@media screen and (min-width: 768px) {
  .create {
    .container {
      a {
        height: 70px;
        font-size: 1.6rem;
        line-height: 70px;
      }
    }
  }
}