@import "color";

@import "color";

.new-item {
  padding-top: 150px;

  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .item {
      width: 100%;
      max-width: 800px;
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $light-color;
      border-radius: 20px;
      padding: 15px;

      .title {
        font-size: 1.8rem;
        font-size: 700;
        color: $primary-color;
        letter-spacing: 1px;
        margin: 20px 0 40px;
        border-bottom: 2px solid $primary-color;
      }

      form {
        width: 100%;
        margin: auto;
        text-align: center;
        
        label {
          font-size: 1.2rem;
          font-weight: 500;
          color: $dark-color;
          margin-bottom: 10px;
        }

        input {
          width: 100%;
          height: 30px;
          margin-bottom: 25px;
          margin-top: 5px;
          padding: 15px;
          font-size: .9rem;
          font-weight: 300;
          border: none;
          border-radius: 30px;
          letter-spacing: .5px;
          background-color: $text-color;
          transition: .5s;

          &:hover {
            background-color: #fff;
          }

          &:focus {
            background-color: #fff;
            border: none;
            outline: none;
          }
        }

        textarea {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          border: none;
          margin-top: 10px;
          margin-bottom: 30px;
          padding: 15px;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: .5px;
          background-color: $text-color;
          transition: .5s;

          &:hover {
            background-color: #fff;
          }

          &:focus {
            background-color: #fff;
            border: none;
            outline: none;
          }
        }

        .btn {
          
          button {
            width: 100px;
            height: 50px;
            border: none;
            border-radius: 30px;
            font-size: 1rem;
            font-weight: 700;
            background-color: #000;
            color: #fff;
            letter-spacing: 1.5px;
            margin: 5px 0 10px;
            transition: .5s;
            transform: scale(1);
            cursor: pointer;

            &:hover {
              color: $primary-color;
              transform: scale(1.1);
            }

            &:active, &:focus {
              border: none;
              outline: none;
            }

          }
        }

      }
    }
  }
}

@media screen and (min-width: 768px) {
  .new-item {
    .container {
      .item {
        .title {
          font-size: 2rem;
        }

        form {
          label {
            font-size: 1.4rem;
          }

          input {
            font-size: 1rem;
            height: 40px;
          }

          textarea {
            font-size: 1rem;
          }

          .btn {
            button {
              font-size: 1.4rem;
              margin-top: 10px;
              margin-bottom: 20px;
              width: 130px;
              height: 60px;
            }
          }
        }
      }
    }
  }
}