@import "color";

.error {
  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .text {
      width: 100%;
      max-width: 800px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $light-color;
      border-radius: 20px;
      padding: 5px;

      p {
        font-size: .9rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: rgb(182, 21, 21);
        line-height: 1.6;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .error {
    .container {
      .text {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}