@import "color";

.sort {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    select {
      border: none;
      outline: none;
      width: 130px;
      height: 40px;
      font-size: 1.2rem;
      font-weight: 500;
      background-color: $dark-color;
      color: $text-color;
      padding-left: 10px;
      letter-spacing: 1px;
      border-radius: 20px;
      margin: 20px auto;
    }

    button {
      width: 70px;
      height: 40px;
      font-size: 1rem;
      border: none;
      outline: none;
      border-radius: 10px;
      background-color: $text-color;
      color: $dark-color;
      font-weight: 700;
      letter-spacing: 1px;
      cursor: pointer;
      transition: .5s;
      margin-top: 20px;

      &:hover {
        background-color: $dark-color;
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .sort {
    form {
      flex-direction: row;

      select {
        margin: 0 20px;
        font-size: 1.3rem;
      }

      button {
        margin: 0 0 0 20px;
        font-size: 1.3rem;
      }
    }
  }
}